<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>Yeni Ürün Ekle</title>
</head>
{% block content %}
<body>
    <h1>Add Product</h1>

    <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ekle</button>
        
    </form>
    <br>
    <h2>Products</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Adı</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}
</html>
