{% extends "base.html" %}

{% block content %}
    <h2>My Cases</h2>
    <br>
    <div class="card-deck">
        {% for case in user_cases %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ case.title }}</h5>
                    <p class="card-text">{{ case.status }}</p>
                    <p class="card-text">{{ case.description1 }}</p>
                    <p class="card-text">{{ case.description2 }}</p>
                    <p class="card-text">{{ case.start_time }}</p>
                    <p class="card-text">{{ case.end_time }}</p>
                    <p class="card-text">Süre: {{ case.duration }}</p>
                </div>
                
                <div>
                    <a href="{% url 'edit_case' case.id %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        
            <br>
            
        
            
        {% empty %}
            <p>You haven't created any cases yet.</p>
        {% endfor %}

    </div>

    
{% endblock content %}
